.embedContainer {
	@apply relative pb-[56.25%] h-0 overflow-hidden w-[100%] mx-[auto] mb-[1.5rem] ;

}

.embedContainer iframe,
.embedContainer object,
.embedContainer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
